#contact {
  display: flex;
  flex-direction: column;
  height: 110vh;
  align-items: center;
  background-color: #24292e;
  padding: 10px;

  .p {
    font-size: 18px;
    text-align: center;
  }

  @media screen and (max-width: 780px) {
    .p {
      font-size: 16px;
    }
  }

  @media screen and (max-width: 320px) {
    .p {
      font-size: 14px;
    }
  }

  .box {
    position: relative;
    justify-content: center;
    width: 90vw;
    height: 700px;
    background-color: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: -40vw;
      left: -20vw;

      width: 900px;
      height: 900px;
      transform-origin: bottom right;

      background: #977ced;
      animation: animate 4s linear infinite;
    }

    &::after {
      animation-delay: -2s;
    }

    @media (max-width: 1100px) {
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: -44vw;
        left: -22vw;

        width: 700px;
        height: 700px;
        transform-origin: bottom right;

        background: #977ced;
        animation: animate 4s linear infinite;
      }

      &::after {
        animation-delay: -2s;
      }
    }

    @media (max-width: 700px) {
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: -42vw;
        left: -55vw;

        width: 100vw;
        height: 63vh;
        transform-origin: bottom right;

        background: #977ced;
        animation: animate 4s linear infinite;
      }

      &::after {
        animation-delay: -2s;
      }

      @media (max-width: 500px) {
        &::before,
        &::after {
          content: "";
          position: absolute;
          top: -130vw;
          left: -55vw;

          width: 100vw;
          height: 63vh;
          transform-origin: bottom right;

          background: #977ced;
          animation: animate 4s linear infinite;
        }

        &::after {
          animation-delay: -2s;
        }
      }
    }

    form {
      position: absolute;
      inset: 2px;
      border-radius: 8px;

      background-color: #28292d;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      z-index: 10;

      .inputs {
        position: relative;
        width: 80vw;
        margin-top: 35px;

        textarea {
          position: relative;
          width: 100%;
          padding: 10px 10px 10px;
          background: transparent;
          border: none;
          outline: none;
          color: #e5e7ea;
          font-size: 1.1em;
          letter-spacing: 0.05em;
          z-index: 10;
          resize: none;
        }

        input {
          position: relative;
          width: 100%;
          padding: 20px 10px 10px;
          background: transparent;
          border: none;
          outline: none;
          color: #e5e7ea;
          font-size: 1.2em;
          letter-spacing: 0.05em;
          z-index: 10;
        }

        input:valid ~ label,
        input:focus ~ label {
          color: #d4c9f8;
          transform: translateY(-34px);
          font-size: 0.95em;
        }

        textarea:valid ~ label,
        textarea:focus ~ label {
          color: #d4c9f8;
          transform: translateY(-40px);
          font-size: 0.95em;
        }

        input:valid ~ i,
        input:focus ~ i {
          height: 44px;
        }

        textarea:valid ~ i,
        textarea:focus ~ i {
          height: 70px;
        }

        i {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 2px;
          background: #747277;
          border-radius: 4px;
          transition: 0.5s;
          pointer-events: none;
          z-index: 9;
        }

        label {
          position: absolute;
          left: 0;
          padding: 20px 10px 10px;
          font-size: 1.1em;
          color: #8f8f8f;
          pointer-events: none;
          letter-spacing: 0.06em;
          transition: 0.5s;
        }
      }

      .dashboard {
        display: flex;
        justify-content: right;
        button {
          border: none;
          outline: none;
          background-color: white;
          padding: 11px 25px;
          width: 100px;
          margin-top: 10px;
          border-radius: 4px;
          font-weight: 600;
          cursor: pointer;
        }
      }
    }
  }

  @media (max-width: 1060px) {
    .box {
      width: 90vw;
      height: 500px;

      form {
        border: 0px;

        .inputs {
          position: relative;
          width: 80vw;
          margin-top: 35px;
        }
      }
    }
  }
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
