$primary-color: #24292e;
$primary-border: #e5e7ea33;

footer {
  align-items: center;
  background: $primary-color;
  border-top: 1px solid $primary-border;
  display: flex;
  flex-direction: column;
  padding: 30px;
  row-gap: 10px;

  ul {
    column-gap: 20px;
    display: flex;
    list-style: none;
  }

  p {
    font-size: 0.7rem;

    @media (min-width: 400px) {
      font-size: 0.9rem;
    }
  }
}
