footer {
  background-color: blur(2px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 10px;

  background: #24292e;
  border-top: 1px solid #e5e7ea33;

  ul {
    list-style: none;
    display: flex;
    column-gap: 20px;
  }
  p {
    font-size: 0.9em;
  }
}
