#neocode {
  background-color: #ffffff;

  .sobre {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 60px;
    gap: 20px;
  }
}
